*{
    body  ::-webkit-scrollbar{
        width: 0%;
    }
}
.List-Container{
    display: flexbox;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    overflow-y:scroll;
    height: 70vh;
}   
.Item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    width:60vw;
    background-color: #303949;
    border-radius: 10px ;
    margin: 10px 0px 0px 10px;
}