nav{
    width:100vw;
    ul{
        display: flex;
        width: 100vw;
        justify-content:space-between;
        align-items:center;
        a{
            width: 100%;
            list-style: none;
            font-size: 30px;
            border-radius: 10px;
            transition: all 0.3s ease-in-out;
            color:whitesmoke;
            text-decoration: none;
            padding: 10px;
           
        }
        .activeTab{
            box-shadow:  0px 10px 10px #96ffca75;
            color:#53ffa9;

        }
    }
}

@media screen  and (max-width:900px){
    nav{
        ul{
            a{
                font-size:20px;
                border-radius: 5px;
            }
            .activeTab{
                box-shadow:  0px 5px 10px  #96ffca75;
                color:#53ffa9;
                
            }
        }
    }
}
